
<div class="">
  <div class=" ">
    
    <!-- Footer -->
    <footer class="page-footer font-small ">
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020:
          <a href="/"> ☺ </a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
      
    
</div>
</div>



<script src="/assets/jquery/dist/jquery.js"></script>



<script src="/assets/@popperjs/core/dist/umd/popper.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>


