<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Welcome</a>
            </li>

        </ul>
    </div>
    <div class="card-body">
        <main role="main">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Digilib </h1>
                    <p class="lead text-muted">
                        A Digilib/digital library system that integrates with Google Drive as its primary storage provides an effecient and user-friendly way to store, manage, and access PDF files. It is an ideal solution for individuals and organization that need to access and share electronic resources in a secure and reliable way.
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Read More</a>
                        <a href="#" class="btn btn-secondary my-2">Contact US</a>
                    </p>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="alert alert-dark" role="alert">
                        <p class="display-4 ">Features</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/img/f1.jpg">
                                <div class="card-body">
                                    <p class="card-text">Compatible to wide variety of devices and user friendly for phones and laptop to desktop PC</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!--button type="button" class="btn btn-sm btn-outline-secondary">Read More ..</button-->
                                        </div>
                                        <small class="text-muted"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" alt="Thumbnail [100%x225]" src="/img/f2.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                                <div class="card-body">
                                    <p class="card-text">Google Drive integration, it uses the Google Drive as its storage for the collection digital copies</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!--button type="button" class="btn btn-sm btn-outline-secondary">Read More ..</button-->

                                        </div>
                                        <small class="text-muted"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div style="text-align: center;">
                                    <img class="card-img-top" alt="Thumbnail [100%x225]" src="/img/f3.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                                </div>                                   
                                <div class="card-body">
                                    <p class="card-text">Includes sophisticated collection management, user management, and a statistics visualization</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!--button type="button" class="btn btn-sm btn-outline-secondary">Read More ..</button-->

                                        </div>
                                        <small class="text-muted"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-dark" role="alert">
                        <p class="display-4 ">Developer</p>
                    </div>
                    <section class="jumbotron text-center">
                        <div class="container">
                            <h1 class="jumbotron-heading">Kenneth Roman </h1>
                            <p class="lead text-muted"></p>
                            <p>
                                
                                <a href="#" class="btn btn-secondary my-2">Contact US</a>
                            </p>
                        </div>
                    </section>

                    


                </div>
            </div>

        </main>




    </div>
</div>