<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/dashboardhead') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <%- body %>
    <%- include('../partials/dashboardfoot') %>
</body>
</html>